<hr />
<div>
  <span><%= link_to 'Show', portfolio, target: :_top %></span>
  <span><%= button_to 'Edit', edit_portfolio_path(portfolio), method: :get %></span>
  <span><%= link_to 'Add Section', new_section_path, target: :_top %></span>
  <span><%= button_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <hr />
</div>
