<%= turbo_frame_tag dom_id(portfolio) do %>
  <div>
    <%= portfolio.description %>
    <p>
      <%= portfolio.cta %>
    </p>
  </div>
  <%= render 'portfolios/menu', portfolio: portfolio %>
<% end %>
