<hr />
<div>
  <span><%= button_to 'Edit Section', edit_section_path(section), method: :get %></span>
  <span><%= button_to 'Destroy Section', section, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <hr />
</div>
