<h1>New Section</h1>

<%= render 'form', section: @section %>

<%= link_to 'Back', sections_path %>
<!--Remove from hard-coded version once users added-->
<%= link_to 'View Portfolio', portfolio_path(1) %>
